@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Die Calculator</h1>
        <div class="row">
            <div class="col-12">
                <label for="dieType">Select die type</label>
                <select id="dieType">
                    <option value="4">D4</option>
                    <option value="6">D6</option>
                    <option value="8">D8</option>
                    <option value="10">D10</option>
                    <option value="12">D12</option>
                    <option value="20">D20</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="cars">Total Number of dice</label>
                <input type="number" id="dieCount" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h3>Conditions</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="rule">Rule:</label>
                        <select id="rule">
                            <option value="atleastx_gteq">At least X die, greater than or equal to</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Target num of die (x)</label>
                        <input type="number" id="targetCount" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Target value</label>
                        <input type="number" id="targetValue" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn-primary" id="submit" onclick="calculate();">Calculate</button>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3>Results</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>Probability</label>
                    <input type="text" id="probabilityResult" readonly placeholder="-%"/>
                </div>
            </div>
        
    </div>
